/* 2022 Jake Grossman */
/* This is free and unencumbered software released into the public domain. */
/* See LICENSE.txt for more information. */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
html, body {
    --primary: #1F1F1F;
    --secondary: #E5E4E2;

    width: 100%;
    height: 100%;
    margin: 0;

    color: var(--primary);
    background-color: var(--secondary);

}

#content {
    margin: auto;

    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Mono', monospace; 
}

h1 {
    text-align: center;
}

h1 span {
    display: inline-block;
}

#counters {
    text-align: center;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.counter-label {
    font-size: 2.75vw;
    letter-spacing: .5vw;
    height: 6.5vw;
    line-height: 6.5vw;
}

.counter {
    user-select: none;
    position: relative;
    font-size: 3.25vw;
    letter-spacing: .5vw;
    height: 6.5vw;
    line-height: 6.5vw;
    text-align: center;
    z-index: 1;

    margin-bottom: 25px;

    color: var(--secondary);
    background-color: var(--primary);
}

.counter-num {
    z-index: 25;
    padding: 0 11px 0 20px;
}

.counter-num:before,
.counter-num:after {
    position: absolute;
    top: 0.975vw;

    width: 4.55vw;
    height: 4.55vw;
    transform: rotate(45deg);

    display: block;
    content: '';

    background-color:  var(--primary);
}

.counter-num:before {
    left: -2.274vw;
    z-index: -1;

}

.counter-num:after {
    right: -2.274vw;
    z-index: -1;
}

#control {
    display: flex;
    flex-direction: column;
    flex-justify: center;
    align-items: center;
    font-size: 1.5rem;
}

button {
    border: none;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    line-height: 1.5rem;
    border-radius: .25rem;

    color: var(--primary);
    background-color: var(--secondary);
    transition: 0.15s;

    padding: 0;
}

@media screen and (max-width: 1099px) {
    button {
        font-size: 4rem;
        width: 6rem;
        height: 6rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    button:hover {
        cursor: pointer;
        color: var(--secondary);
        background-color: var(--primary);
    }
}

#budget {
    margin-bottom: 0.5rem;
}

#budget-selector {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1100px) {
    .counter-label {
        margin-right: 6.5vw;
    }

    .counter-wrapper {
        flex-direction: row;
    }
}
